@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

#root {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

#quote-box {
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out 0.1s;
  box-shadow: 0px 2px gray 5px;
  background-color: #b2b3c2;
  padding: 2rem 3rem;
  border-radius: 25px;
  max-width: 60dvw;
  min-width: 50dvw;
  max-height: 70dvh;
  min-height: 20dvh;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr min-content min-content;
}

#text {
  text-align: center;
  grid-column: 1 / 4;
}

div#author {
  grid-column: 3;
  grid-row: 2 / 3;
  font-style: italic;
}
div#author > p {
  text-wrap: nowrap;
  font-size: clamp(.8rem, 1vw, 1.5rem);
}

#new-quote {
  grid-column: 3 / 3;
  grid-row: 3;
  text-wrap: nowrap;
}

#tweet-quote {
  grid-column: 1;
  grid-row: 3;
}

#tweet-quote > svg:hover {
  box-shadow: 1px 2px gray 3px;
}

#new-quote {
  color: beige;
}
